


#index_img_cont {
}
#index_img_cont img {

    object-fit: contain

    width: 100%;
}


.container img{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
 }​


 .tiledBackground {
    background-image: url(https://www.mozilla.org/media/img/logos/firefox/logo-quantum.9c5e96634f92.png);
    background-size: 150px;
    width: 300px;
    height: 300px;
    border: 2px solid;
    color: pink;
  }
  

  .img-container {
    border: 2px solid red;
    justify-content: center;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
  }
  .img-container .img-to-fit {
    flex: 1;
    height: 100%;
  }

