@model PetCareAppMVC.Features.Signup.SignupViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
            @*<link rel="stylesheet" href="../styles/signup.css">*@
      <link asp-append-version="true" rel="stylesheet" href="~/styles/signup.css" />

        <main>
            <section>
                <div class="center__container" style="border: 2px solid black;">
                    <div>
                        <div class="navbar">
                            <div class="header__logo">
                                <div class="split__left_20"></div>
                                <div class="split__right_80">
                                    <a href="/home" style="padding: unset">

                                        <img style="width: 100%" class="header__logo__img" src="../resources/logo_horizontal.png" alt="">
                                
                                    </a>
                            </div>
                            </div>
                            <div class="header__empty">
                            </div>
                            <div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <h1 class="center__title center">
                REGISTRACIJA
            </h1>
      
            <br>
            <div id="empty_click"></div>
            <div class="center">


                
                <form id="registerFormU" name="registrationForm" asp-action="SignupCheck" method="post">
                    <div>
                        <input asp-for=PersonId />
                        <input asp-for=SessionId />
                        <span class="deleteicon">
                        <input asp-for="UserName" type="text" class="input__text" id="input__username" placeholder="Korisničko ime" required/>
                        <span id="delete__username">x</span>
                        </span>
                        <br>
                        <div id="input__username__err">
                            Korisničko ime ne može biti prazno.
                        </div>
                        <br>
                        <span class="deleteicon">
                        <input asp-for="Oib" type="text" class="input__text" id="input__OIB" placeholder="OIB" required />
                        <span id="delete__OIB">x</span>
                        </span>
                        <br>
                        <div id="input__OIB__err">
                            OIB nije valjanog formata, mora sadržavati 11 brojeva.
                        </div>
                        <br>
                        <span class="deleteicon">
                        <input asp-for="PersonFirstName" type="text" class="input__text" id="input__firstname" placeholder="Ime" required />
                        <span id="delete__firstname">x</span>
                        </span>
                        <br>
                        <div id="input__firstname__err">
                            Ime ne može biti prazno.
                        </div>
                        <br>
                        <span class="deleteicon">
                        <input asp-for="PersonLastName" type="text" class="input__text" id="input__lastname" placeholder="Prezime" required />
                        <span id="delete__lastname">x</span>
                        </span>
                        <br>
                        <div id="input__lastname__err">
                            Prezime ne može biti prazno.
                        </div>
                        <br>
                        <span class="deleteicon">
                        <input asp-for="PersonEmail" type="text" class="input__text" id="input__email" placeholder="Adresa e-pošte" required/>
                        <span id="delete__email">x</span>
                        </span>
                        <br>
                        <div id="input__email__err">
                            Adresa e-pošte nije valjanog formata.
                        </div>
                        
                        <br>
                        <div id="input__card__year__err">
                            Godina istjecanja kreditne kartice nije valjanog formata, mora sadržavati 4 broja. 
                        </div>
                        <br>
                        <span class="deleteicon">
                        <input asp-for="Password" type="password" class="input__text" id="input__password" 
                            placeholder="Lozinka" required 
                            />
                        <span id="delete__password">x</span>
                        </span>
                        <br>
                         <!--
                        <div id="input__password__err">
                        </div>
                        <br>
                        <span class="deleteicon">
                        <input asp-for="passwordrepeat" type="password" class="input__text" id="input__password_repeat" placeholder="Ponovni upis lozinke" required/>
                        <span id="delete__password_repeat">x</span>
                        </span>
                        <br>
                        <div id="input__password_repeat__err">
                            Ponovno upisana lozinka se ne podudara s prvotno upisanom lozinkom. 
                        </div>
                        -->
                        <br>
                        <span class="deleteicon" >
                            <input type="submit" class="input__text" 
                                value="Registriraj me" style="padding-top: 10px;
                                padding-bottom: 32px;"
                                />
                            <!-- style="padding-bottom: 35px;" -->
                        </span>
                        <br>
                    </div>
                </form>
            </div>
            <script src="~/scripts/login_form/validate_signup.js"></script>
        </main>

</div>



