*{
    box-sizing:border-box
}
.center{
    width:60%;
    padding:10px;
    height:90%;
    margin:auto;
    margin-top:25px;
    min-width:1000px
}
.center__title{
    padding:10px;
    min-width:calc(159px + 265px);
    text-align:center
}
.center__container{
    min-width:400px
}
.center__login{
    border:3px solid green;
    flex:1;
    width:40%;
    min-width:274px
}
*{
    box-sizing:border-box
}
.center{
    width:60%;
    padding:10px;
    height:90%;
    margin:auto;
    margin-top:25px;
    min-width:1000px
}
.center__title{
    padding:10px;
    min-width:calc(159px + 265px);
    text-align:center
}
.center__container{
    min-width:400px
}
.center__login{
    border:3px solid green;
    flex:1;
    width:40%;
    min-width:274px
}
.header{
    background-color:#add8e6;
    position:fixed;
    top:0;
    width:100%;
    z-index:100
}
.header__logo{
    width:20%;
    float:left;
    display:flex;
    height:50px
}
.header__empty{
    width:50%;
    float:left;
    height:50px
}
.header__navbar{
    width:25%;
    float:right;
    height:50px
}
.header__logo__img{
    width:80%;
    float:right;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px;
    max-height:100%;
    max-width:100%
}
.split__left_20{
    width:20%;
    float:left;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px
}
.split__right_80{
    width:80%;
    float:right;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px
}
.split__left_80{
    width:80%;
    float:left;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px
}
.split__right_20{
    width:20%;
    float:right;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px
}
*{
    box-sizing:border-box
}
.center{
    width:60%;
    padding:10px;
    height:90%;
    margin:auto;
    margin-top:25px;
    min-width:1000px
}
.center__title{
    padding:10px;
    min-width:calc(159px + 265px);
    text-align:center
}
.center__container{
    min-width:400px
}
.center__login{
    border:3px solid green;
    flex:1;
    width:40%;
    min-width:274px
}
.header{
    background-color:#add8e6;
    position:fixed;
    top:0;
    width:100%;
    z-index:100
}
.header__logo{
    width:20%;
    float:left;
    display:flex;
    height:50px
}
.header__empty{
    width:50%;
    float:left;
    height:50px
}
.header__navbar{
    width:25%;
    float:right;
    height:50px
}
.header__logo__img{
    width:80%;
    float:right;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px;
    max-height:100%;
    max-width:100%
}
.split__left_20{
    width:20%;
    float:left;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px
}
.split__right_80{
    width:80%;
    float:right;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px
}
.split__left_80{
    width:80%;
    float:left;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px
}
.split__right_20{
    width:20%;
    float:right;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px
}
body{
    font-family:Arial,Helvetica,sans-serif
}
.navbar{
    overflow:hidden;
    background-color:#add8e6
}
.navbar a{
    float:left;
    font-size:16px;
    color:#000;
    text-align:center;
    padding:14px 16px;
    text-decoration:none
}
.dropdown{
    float:left;
    overflow:hidden
}
.dropdown .dropbtn{
    font-size:16px;
    border:none;
    outline:0;
    color:#000;
    padding:14px 16px;
    background-color:inherit;
    font-family:inherit;
    margin:0
}
.dropdown:hover .dropbtn,.navbar a:hover{
    background-color:#2596be
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:#f9f9f9;
    min-width:160px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,.2);
    z-index:1
}
.dropdown-content a{
    float:none;
    color:#000;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align:left
}
.dropdown-content a:hover{
    background-color:#ddd
}
.dropdown:hover .dropdown-content{
    display:block
}
.image{
    max-width:100%;
    max-height:100%
}
.center{
    text-align:center;
    display:flex;
    justify-content:center
}
.input__text{
    border-radius:25px;
    border:2px solid #609;
    padding:20px;
    width:300px;
    height:15px;
    margin:5px
}
#input__card__month,#input__card__year{
    text-align:center;
    display:flex;
    justify-content:center
}
span.deleteicon{
    position:relative;
    display:inline-flex;
    align-items:center
}
span.deleteicon span{
    position:absolute;
    display:block;
    right:10px;
    width:17px;
    height:17px;
    border-radius:50%;
    color:#fff;
    background-color:#ccc;
    font:13px monospace;
    text-align:center;
    line-height:1em;
    cursor:pointer
}
span.deleteicon input{
    padding-right:18px;
    box-sizing:border-box
}
*{
    box-sizing:border-box
}
body{
    font:16px Arial
}
.autocomplete{
    position:relative;
    display:inline-block
}
input{
    border:1px solid transparent;
    background-color:#f1f1f1;
    padding:10px;
    font-size:16px
}
input[type=submit]{
    background-color:#1e90ff;
    color:#fff;
    cursor:pointer
}
.button{
    background-color:#ddd;
    border:none;
    color:#000;
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    margin:4px 2px;
    cursor:pointer;
    border-radius:16px
}
.button:hover{
    background-color:#00f
}
.center{
    text-align:center;
    display:flex;
    justify-content:center
}
.input__text{
    border-radius:25px;
    border:2px solid #609;
    padding:20px;
    width:300px;
    height:15px;
    margin:5px
}
#input__card__month,#input__card__year{
    text-align:center;
    display:flex;
    justify-content:center
}
span.deleteicon{
    position:relative;
    display:inline-flex;
    align-items:center
}
span.deleteicon span{
    position:absolute;
    display:block;
    right:10px;
    width:17px;
    height:17px;
    border-radius:50%;
    color:#fff;
    background-color:#ccc;
    font:13px monospace;
    text-align:center;
    line-height:1em;
    cursor:pointer
}
span.deleteicon input{
    padding-right:18px;
    box-sizing:border-box
}
*{
    box-sizing:border-box
}
body{
    font:16px Arial
}
.autocomplete{
    position:relative;
    display:inline-block
}
input{
    border:1px solid transparent;
    background-color:#f1f1f1;
    padding:10px;
    font-size:16px
}
input[type=submit]{
    background-color:#1e90ff;
    color:#fff;
    cursor:pointer
}
.button{
    background-color:#ddd;
    border:none;
    color:#000;
    padding:10px 20px;
    text-align:center;
    text-decoration:none;
    display:inline-block;
    margin:4px 2px;
    cursor:pointer;
    border-radius:16px
}
.button:hover{
    background-color:#00f
}
*{
    box-sizing:border-box
}
.center{
    width:60%;
    padding:10px;
    height:90%;
    margin:auto;
    margin-top:25px;
    min-width:1000px
}
.center__title{
    padding:10px;
    min-width:calc(159px + 265px);
    text-align:center
}
.center__container{
    min-width:400px
}
.center__login{
    border:3px solid green;
    flex:1;
    width:40%;
    min-width:274px
}
.header{
    background-color:#add8e6;
    position:fixed;
    top:0;
    width:100%;
    z-index:100
}
.header__logo{
    width:20%;
    float:left;
    display:flex;
    height:50px
}
.header__empty{
    width:50%;
    float:left;
    height:50px
}
.header__navbar{
    width:25%;
    float:right;
    height:50px
}
.header__logo__img{
    width:80%;
    float:right;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px;
    max-height:100%;
    max-width:100%
}
.split__left_20{
    width:20%;
    float:left;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px
}
.split__right_80{
    width:80%;
    float:right;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px
}
.split__left_80{
    width:80%;
    float:left;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px
}
.split__right_20{
    width:20%;
    float:right;
    display:flex;
    justify-content:center;
    top:50%;
    left:50%;
    height:50px
}
body{
    font-family:Arial,Helvetica,sans-serif
}
.navbar{
    overflow:hidden;
    background-color:#add8e6
}
.navbar a{
    float:left;
    font-size:16px;
    color:#000;
    text-align:center;
    padding:14px 16px;
    text-decoration:none
}
.dropdown{
    float:left;
    overflow:hidden
}
.dropdown .dropbtn{
    font-size:16px;
    border:none;
    outline:0;
    color:#000;
    padding:14px 16px;
    background-color:inherit;
    font-family:inherit;
    margin:0
}
.dropdown:hover .dropbtn,.navbar a:hover{
    background-color:#2596be
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:#f9f9f9;
    min-width:160px;
    box-shadow:0 8px 16px 0 rgba(0,0,0,.2);
    z-index:1
}
.dropdown-content a{
    float:none;
    color:#000;
    padding:12px 16px;
    text-decoration:none;
    display:block;
    text-align:left
}
.dropdown-content a:hover{
    background-color:#ddd
}
.dropdown:hover .dropdown-content{
    display:block
}
body,html{
    margin:0;
    height:100%
}
.image{
    max-width:100%;
    max-height:100%
}
