<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pet Care app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="../resources/favicon.ico">
        <link rel="stylesheet" href="../styles/listings.css">
    </head>
    <body>
        <div class="center__container" >
            <div>
                <div class="navbar">
                    <div class="header__logo">
                        <div class="split__left_20"></div>
                        <div class="split__right_80">
                            <img class="header__logo__img" src="../resources/logo_horizontal.png" alt="">
                        </div>
                    </div>
                    <div class="header__empty">
                    </div>
                    <div>
                        <a href="#home">Pretraži</a>
                        <a href="#news">
                        Objavi oglas
                        </a>
                        <div class="dropdown">
                            <button class="dropbtn">todo ime korisnika 
                            <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="#login">Moji oglasi</a>
                                <a href="#signup">Moj profil</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <style>
                        table, th, td {
                          border:1px solid black;
                        }
                        </style>
                        <body>
                        
                        <h2>A basic HTML table</h2>
                        
                        <table style="width:100%;">
                          <tr>
                            <td style="width: 30%;">
                                Listings
                                <table class="center__login__table">
                                    <tr>
                                        <td>
                                            <table>
                                                <tr>
                                                    <td>
                                                        description
                                                    </td>
                                        
                                                </tr>
                                                <tr>
                                                    <td>
                                                      cijena  
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        zivotinje
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        lokacija
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        period od
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        period do
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        stan ili kuca
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        kat
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        recenzije do sad, prosjek ocjena + opis
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        zivotinja kartica
                                                    </td>
                                                </tr>

                                            </table>

                                            <span class="deleteicon">
                                            <input type="text" class="input__text" placeholder="Korisničko ime ili e-mail" required id="input__username" />
                                            <span id="delete__username">x</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <span class="deleteicon">
                                            <input type="password" class="input__text" id="input__password" placeholder="Lozinka" required />
                                            <span id="delete__password">x</span>
                                            </span>                    
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input class="center__menu__button button" value="Prijavi me" type="submit" id="4"></td>
                                    </tr>
                                </table>
                            </td style="width=70%">
                            <td>Map</td>
                          </tr>
                        </table>
                </div>
            </div>
        </div>

    </body>
</html>

