

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pet Care app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="../resources/favicon.ico">
    <link rel="stylesheet" href="../styles/listings.css">
  </head>
  <body>
    <div class="center__container" >
      <div>
        <div class="navbar">
          <div class="header__logo">
            <div class="split__left_20"></div>
            <div class="split__right_80">
              <img class="header__logo__img" src="../resources/logo_horizontal.png" alt="">
            </div>
          </div>
          <div class="header__empty">
          </div>
          <div>
            <a href="#home">Objavi oglas Pretraži</a>
              <a href="#news">Odjava</a>
            <div class="dropdown">
              <!-- <button class="dropbtn">todo ime korisnika  -->
              <i class="fa fa-caret-down"></i>
              </button>
              <!-- <div class="dropdown-content">
                <a href="#login">Moji oglasi</a>
                <a href="#signup">Moj profil</a>
                </div> -->
            </div>
          </div>
        </div>
        <div>
          <style>
            table, th, td {
            border:1px solid black;
            }
          </style>
          <table class="center__login__table" style="width: 100%;">
            <tr>
              <td>
                <table>
                  <tr>
                    <td style="width: 50%;">

                        <style type="text/css">
                            #scrollable_div{
                                overflow-y: auto;
                                overflow-x: hidden;
                                /* width: 1500px; */
                                height: 600px;
                                border: solid thin black;
                            }
                        </style>

                      <div id="scrollable_div">


                        <style>
                    /* #listings_t > tbody:nth-child(1) > tr:nth-child(1) > td:nth-child(1) */
                    
                    /* #listings_t:nth-child(2n) {
                                background-color: lightblue} */

                                pill {
  background-color: #ddd;
  border: none;
  color: green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}


                        </style>
                        <table id="listings_t">

                            <tr>

                                <td>
                       
                                <table id="listing_1">
                                    <tr>
                                      <td>
                                        opis: vrijednost 1
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        cijena: vrijednost 1   
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        zivotinje: vrijednost 1
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        lokacija: vrijednost 1
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        period od: vrijednost 1
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        period do: vrijednost 1
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        stan ili kuca: vrijednost 1
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        kat: vrijednost 1
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        recenzije do sad, prosjek ocjena + opis: vrijednost 1
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        zivotinja kartica: vrijednost 1
                                      </td>
                                    </tr>
                                  </table>

                                  </td>
                            </tr>

                            <tr>
                                <td style="background-color: lightblue; border: none;">
                                    <table style="background-color: white; border: none;" id="listing_2">
                                        <tr>
                                          <td class="pill">
                                            opis: vrijednost 2
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            cijena: vrijednost 2   
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            zivotinje: vrijednost 2
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            lokacija: vrijednost 2
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            period od: vrijednost 2
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            period do: vrijednost 2
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            stan ili kuca: vrijednost 2
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            kat: vrijednost 2
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            recenzije do sad, prosjek ocjena + opis: vrijednost 2
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            zivotinja kartica: vrijednost 2
                                          </td>
                                        </tr>  
                                    </table>                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table id="3">
                                        <tr>
                                          <td>
                                            opis: vrijednost 3
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            cijena: vrijednost 3   
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            zivotinje: vrijednost 3
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            lokacija: vrijednost 3
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            period od: vrijednost 3
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            period do: vrijednost 3
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            stan ili kuca: vrijednost 3
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            kat: vrijednost 3
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            recenzije do sad, prosjek ocjena + opis: vrijednost 3
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            zivotinja kartica: vrijednost 3
                                          </td>
                                        </tr>  
                                    </table>                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <table id="4">
                                        <tr>
                                          <td>
                                            opis: vrijednost 4
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            cijena: vrijednost 4   
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            zivotinje: vrijednost 4
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            lokacija: vrijednost 4
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            period od: vrijednost 4
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            period do: vrijednost 4
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            stan ili kuca: vrijednost 4
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            kat: vrijednost 4
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            recenzije do sad, prosjek ocjena + opis: vrijednost 4
                                          </td>
                                        </tr>
                                        <tr>
                                          <td>
                                            zivotinja kartica: vrijednost 4
                                          </td>
                                        </tr>  
                                    </table>                                </td>
                            </tr>

                        </table>
                      
                      </div>

                




                    </td>
                    <td style="width: 50%;">
                      <!-- desno -->
                      <!-- <style type="text/css">
                        #basicMap {
                            width: 500px;
                            height: 500px;
                          }
                        </style>
                        
                        <script src="../resources/OpenLayers-2.13.1/OpenLayers.js"></script>
                        
                        <script>
                        
                        
                        
                          window.onload = () => {
                              map = new OpenLayers.Map("basicMap");
                              var mapnik         = new OpenLayers.Layer.OSM();
                              var fromProjection = new OpenLayers.Projection("EPSG:4326");   // Transform from WGS 1984
                              var toProjection   = new OpenLayers.Projection("EPSG:900913"); // to Spherical Mercator Projection
                              var position       = new OpenLayers.LonLat(13.41,52.52).transform( fromProjection, toProjection);
                              var zoom           = 15; 
                        
                              map.addLayer(mapnik);
                              map.setCenter(position, zoom );
                          }
                        
                        </script>
                        <div id="basicMap" style="width: 100%;"></div> -->
                      <style type="text/css">
                        #Map {
                        width: 500px;
                        height: 500px;
                        }
                      </style>
                      <script src="../resources/OpenLayers-2.13.1/OpenLayers.js"></script>
                      <script src="../scripts/map.js"></script>
                      <div id="Map" style="width: 100%;"></div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- <tr>
              <td>
              </td>
              </tr> -->
            <!-- <tr>
              <td><input class="center__menu__button button" value="Prijavi me" type="submit" id="4"></td>
              </tr> -->
          </table>
        </div>
      </div>
    </div>
  </body>
</html>

