<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pet Care app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="../resources/favicon.ico">
        <link rel="stylesheet" href="../styles/listings.css">
    </head>
    <body>
        <div class="center__container" >
            <div>
                <div class="navbar">
                    <div class="header__logo">
                        <div class="split__left_20"></div>
                        <div class="split__right_80">
                            <img class="header__logo__img" src="../resources/logo_horizontal.png" alt="">
                        </div>
                    </div>
                    <div class="header__empty">
                    </div>
                    <div>
                        <a href="#home">Pretraži</a>
                        <a href="#news">
                        Objavi oglas
                        </a>
                        <div class="dropdown">
                            <button class="dropbtn">todo ime korisnika 
                            <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="#login">Moji oglasi</a>
                                <a href="#signup">Moj profil</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <style>
                        table, th, td {
                          border:1px solid black;
                        }
                        </style>
                        <body>
                        
                     
                        <table class="center__login__table" style="width: 100%;">
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                opis:
                                            </td>
                                
                                        </tr>
                                        <tr>
                                            <td>
                                                cijena:   
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                zivotinje:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                lokacija:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                period od:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                period do:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                stan ili kuca
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                kat
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                recenzije do sad, prosjek ocjena + opis
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                zivotinja kartica
                                            </td>
                                        </tr>

                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td><input class="center__menu__button button" value="Prijavi me" type="submit" id="4"></td>
                            </tr>
                        </table>
                     
                </div>
            </div>
        </div>

    </body>
</html>

