

<!DOCTYPE html>
<head>
    <title>Pet Care app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/login/login_center.css">
    <link rel="stylesheet" href="../styles/login/login_footer.css">
    <link rel="stylesheet" href="../styles/global/switch.css">
    <link rel="stylesheet" href="../styles/login/navbar.css">
</head>
<main>
    <section>
        <!-- <div class="landing">
            <div class="center" role="main">
                <div class="center__title">
                    <h1>Pet Care app</h1>
                </div>
            </div>
            </div> -->
        <div class="center__container">
            <div class="header">
                <div class="header__logo">
                    <img class="header__logo__img" src="../resources/logo_horizontal.png" alt="">
                </div>
                <div class="header__empty">
                </div>
                <div class="header__navbar" >

                    <div class="header__spacer__left"></div>

                    <div href="default.asp" class="header__navbar__listing">
                        <div>
                            <div class="split__two__left">
                                <div class="util__center__wrapper">
                                    <div class="util__center">
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ksZaOG foFWuq" width="24" height="24" aria-hidden="true">
                                            <g fill="none" stroke="#00AFF5" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10">
                                                <line x1="22" y1="22" x2="16.4" y2="16.4"></line>
                                                <circle cx="10" cy="10" r="9"></circle>
                                            </g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="split__two__right">
                                <div class="util__center__wrapper">
                                    <div class="util__center">
                                        <a  class="theme__color">Pretraži</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div href="news.asp" class="header__navbar__listing">
                        <div>
                            <div class="split__two__left">
                                <div class="util__center__wrapper">
                                    <div class="util__center">
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ksZaOG foFWuq" width="24" height="24" aria-hidden="true">
                                            <path stroke-width="0" fill="#00AFF5" fill-rule="evenodd" d="M1.14 11.5a10.36 10.36 0 1120.72 0 10.36 10.36 0 01-20.72 0zM11.5 0a11.5 11.5 0 100 23 11.5 11.5 0 000-23zm.57 6.53a.57.57 0 00-1.14 0v4.4h-4.4a.57.57 0 100 1.14h4.4v4.4a.57.57 0 101.14 0v-4.4h4.4a.57.57 0 000-1.14h-4.4z"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                            <div class="split__two__right">
                                <div class="util__center__wrapper">
                                    <div class="util__center">
                                        <a class="theme__color">Objavi oglas</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__navbar__profile">
                        <div>
                            <div class="split__two__left">
                                <div class="util__center__wrapper">
                                    <div class="util__center">
                                        <div class="header__navbar__image-cropper">
                                            <img class="header__navbar__image-rounded" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgc3R5bGU9ImJhY2tncm91bmQ6I2RkZCI+PHBhdGggZmlsbD0iI0RERCIgZD0iTTAgMGg0OHY0OEgweiIvPjxwYXRoIGQ9Ik0yNCAyOWMyLjM3IDAgNS4yNC4yNDggNy42MTEuNzQ1IDMuODk5LjU0NCA2LjU4IDMuMTQzIDcuNzQgNy4wNzNDMzUuNjg1IDQxLjIwOCAzMC4xNjkgNDQgMjQgNDRjLTYuMTggMC0xMS43MDYtMi44MDMtMTUuMzc1LTcuMjA4IDEuMTA2LTMuNzk0IDMuNjgtNi4yMzcgNy43NjQtNy4wNDdDMTguNzU5IDI5LjI0OCAyMS42MjkgMjkgMjQgMjl6bTAtMjFhOCA4IDAgMDE4IDh2MmE4IDggMCAxMS0xNiAwdi0yYTggOCAwIDAxOC04eiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="split__two__right">
                                <div class="util__center__wrapper">
                                    <div class="util__center">
                                        <!-- <div class="header__navbar__dd_resize"> -->
                                        <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="kirk-icon sc-ksZaOG jucjqW" width="24" height="24" aria-hidden="true">
                                            <polyline fill="none" stroke="#708C91" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" points="9 18 15 12 9 6" transform="rotate(90 12 12)"></polyline>
                                        </svg>
                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__spacer"></div>
            <div class="center__maps">
                <h3>Prona&scaron;li smo mjesto za tebe!</h3>
                <!-- The div element for the map-->
                <!-- <div id="map"></div> -->
                <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzm5OOeVsAHmmVfHqPtlgz6XjicHRqWlE&amp;callback=initMap&amp;libraries=&amp;v=weekly" defer=""></script> -->
                <!-- <script src="./scripts/global/display_locations.js"></script> -->
            </div>
            <div class="center__login">
                <div class="center__err"></div>
                <div class="center__login__existingU">
                    <input class="center__menu__button" type="button" id="1" value="P R I J A V A" onclick="openFormLogin();">
                    <form id="loginForm" name="loginForm" action="/user" method="post">
                        <table class="center__login__table">
                            <tr>
                                <td><input type="text" id="2" name="username" placeholder="Korisničko ime ili e-mail" required></td>
                            </tr>
                            <tr>
                                <td><input type="password" id="3" name="password" placeholder="Lozinka" required></td>
                            </tr>
                            <tr>
                                <td><input class="center__menu__button" type="submit" id="4"></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="center__login__newU">
                    <input class="center__menu__button" type="button" id="5" value="REGISTRIRAJ SE KAO VOZAČ" onclick="openFormRegisterU();">
                    <form id="registerFormU" name="registrationForm" action="/registeruser" method="post">
                        <table class="center__login__table">
                            <tr>
                                <td><input type="text" name="username" id="6" placeholder="username" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="oib" id="7" placeholder="OIB" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="name" id="8" placeholder="Ime" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="surname" id="9" placeholder="Prezime" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="email" id="10" placeholder="Adresa e-pošte" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="automobil" id="11" placeholder="Registarska oznaka automobila" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="kredkartica" id="12" placeholder="Broj kreditne kartice" required></td>
                            </tr>
                            <tr>
                                <td><input type="password" name="password1" id="13" placeholder="Lozinka" required></td>
                            </tr>
                            <tr>
                                <td><input type="password" name="password2" id="14" placeholder="Ponovni upis lozinke" required></td>
                            </tr>
                            <tr>
                                <td><input class="center__menu__button" type="submit" id="15" value="registracija"></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="center__login__newC">
                    <input class="center__menu__button" type="button" id="16" value="REGISTRIRAJ SE KAO TVRTKA" onclick="openFormRegisterC();">
                    <form id="registerFormC" name="registerForm" action="/registercompany" method="post">
                        <table class="center__login__table">
                            <tr>
                                <td><input type="text" id="17" name="oib" placeholder="OIB tvrtke" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="18" name="username" placeholder="Ime tvrtke" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="19" name="address" placeholder="Adresa sjedišta" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="20" name="email" placeholder="Adresa e-pošte" required></td>
                            </tr>
                            <tr>
                                <td><input type="password" id="21" name="password1" placeholder="Lozinka" required></td>
                            </tr>
                            <tr>
                                <td><input type="password" id="22" name="password2" placeholder="Ponovni upis lozinke" required></td>
                            </tr>
                            <tr>
                                <td><input class="center__menu__button" type="submit" id="23" required></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <br><br>
        <div class="text"></div>
        <div class="slider"></div>
    </section>
</main>
<div class="intro">
    <figure>
        <img src="../resources/favicon.ico" alt="Pet Care">
        <figcaption>Parkiraj Me!</figcaption>
    </figure>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="../scripts/home/drop_down_activators.js"></script>
<script src="../scripts/home/on_load_functions.js"></script>
<script src="../scripts/global/tab_name_changer.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

