

<!DOCTYPE html>
<head>
    <title>Pet Care app</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/login/login_center.css">
    <link rel="stylesheet" href="../styles/login/login_footer.css">
    <link rel="stylesheet" href="../styles/global/switch.css">
    <link rel="stylesheet" href="../styles/login/navbar.css">
</head>
<main>
    <section>

        <div class="center__container">
         

            <div class="header__spacer">


             
            </div>
            
            <div>

                center div

            </div>

            <div class="center__login">
                <div class="center__err"></div>
                <div class="center__login__existingU">
                    <input class="center__menu__button" type="button" id="1" value="P R I J A V A" onclick="openFormLogin();">
                    <form id="loginForm" name="loginForm" action="/user" method="post">
                        <table class="center__login__table">
                            <tr>
                                <td><input type="text" id="2" name="username" placeholder="Korisničko ime ili e-mail" required></td>
                            </tr>
                            <tr>
                                <td><input type="password" id="3" name="password" placeholder="Lozinka" required></td>
                            </tr>
                            <tr>
                                <td><input class="center__menu__button" type="submit" id="4"></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="center__login__newU">
                    <input class="center__menu__button" type="button" id="5" value="REGISTRIRAJ SE KAO VOZAČ" onclick="openFormRegisterU();">
                    <form id="registerFormU" name="registrationForm" action="/registeruser" method="post">
                        <table class="center__login__table">
                            <tr>
                                <td><input type="text" name="username" id="6" placeholder="username" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="oib" id="7" placeholder="OIB" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="name" id="8" placeholder="Ime" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="surname" id="9" placeholder="Prezime" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="email" id="10" placeholder="Adresa e-pošte" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="automobil" id="11" placeholder="Registarska oznaka automobila" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" name="kredkartica" id="12" placeholder="Broj kreditne kartice" required></td>
                            </tr>
                            <tr>
                                <td><input type="password" name="password1" id="13" placeholder="Lozinka" required></td>
                            </tr>
                            <tr>
                                <td><input type="password" name="password2" id="14" placeholder="Ponovni upis lozinke" required></td>
                            </tr>
                            <tr>
                                <td><input class="center__menu__button" type="submit" id="15" value="registracija"></td>
                            </tr>
                        </table>
                    </form>
                </div>
                <div class="center__login__newC">
                    <input class="center__menu__button" type="button" id="16" value="REGISTRIRAJ SE KAO TVRTKA" onclick="openFormRegisterC();">
                    <form id="registerFormC" name="registerForm" action="/registercompany" method="post">
                        <table class="center__login__table">
                            <tr>
                                <td><input type="text" id="17" name="oib" placeholder="OIB tvrtke" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="18" name="username" placeholder="Ime tvrtke" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="19" name="address" placeholder="Adresa sjedišta" required></td>
                            </tr>
                            <tr>
                                <td><input type="text" id="20" name="email" placeholder="Adresa e-pošte" required></td>
                            </tr>
                            <tr>
                                <td><input type="password" id="21" name="password1" placeholder="Lozinka" required></td>
                            </tr>
                            <tr>
                                <td><input type="password" id="22" name="password2" placeholder="Ponovni upis lozinke" required></td>
                            </tr>
                            <tr>
                                <td><input class="center__menu__button" type="submit" id="23" required></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <br><br>
        <div class="text"></div>
        <div class="slider"></div>
    </section>
</main>
<div class="intro">
    <figure>
        <img src="../resources/favicon.ico" alt="Pet Care">
        <figcaption>Parkiraj Me!</figcaption>
    </figure>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="../scripts/home/drop_down_activators.js"></script>
<script src="../scripts/home/on_load_functions.js"></script>
<script src="../scripts/global/tab_name_changer.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

