<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../styles/navigation_bar/index.css">
<link rel="stylesheet" href="../styles/login/navbar.css">

</head>
<body>

<div class="navbar">
  <div class="header__logo">
        <div class="split__left_20"></div>

        <div class="split__right_80">

            <img class="header__logo__img" src="../resources/logo_horizontal.png" alt="">
        </div>


    </div>

    <div class="header__empty">

  </div>

  
  <div>
    <a href="#home">Pretraži</a>
  
    <a href="#news">
      Objavi oglas
      </a>
  
  
    <div class="dropdown">
      <button class="dropbtn">Korisnik 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#login">Prijavi se</a>
        <a href="#signup">Registriraj se</a>
      </div>
    </div> 
  
  </div>
  
</div>

<div>
    main
</div>



<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Points</th>
  </tr>
  <tr>
    <td>

    </td>
    <td>Smith</td>
    <td>

    </td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>Adam</td>
    <td>Johnson</td>
    <td>67</td>
  </tr>
</table>


</body>
</html>
