<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page - ProjectMVC</title>
            <link rel="icon" type="image/x-icon" href="/resources/favicon.ico">

    <link rel="stylesheet" href="../styles/index.css" />
            
</head>
<body>
      <section b-3zgpsq1oy0>
        <div b-3zgpsq1oy0 class="center__container" style="border: 2px solid black;">
            <div b-3zgpsq1oy0>
                <div b-3zgpsq1oy0 class="navbar">
                    <div b-3zgpsq1oy0 class="header__logo">
                        <div b-3zgpsq1oy0 class="split__left_20"></div>
                        <div b-3zgpsq1oy0 class="split__right_80">
                            <img b-3zgpsq1oy0 class="header__logo__img" src="../resources/logo_horizontal.png" alt="">
                        </div>
                    </div>
                    <div b-3zgpsq1oy0 class="header__empty">
                    </div>
                    <div b-3zgpsq1oy0>
                        <a b-3zgpsq1oy0 href="#home">Pretraži</a>
                        <a b-3zgpsq1oy0 href="#news">
                        Objavi oglas
                        </a>
                        <div b-3zgpsq1oy0 class="dropdown">
                            <button b-3zgpsq1oy0 class="dropbtn">Korisnik 
                            <i b-3zgpsq1oy0 class="fa fa-caret-down"></i>
                            </button>
                            <div b-3zgpsq1oy0 class="dropdown-content">
                                <a b-3zgpsq1oy0 href="#login">Prijavi se</a>
                                <a b-3zgpsq1oy0 href="#signup">Registriraj se</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
     <div b-3zgpsq1oy0>

          
        <div>

            
            <div>

            
                <div class="center__container" >
            
                    <div>
                    
                        <div class="container"> 
                            <img class="header__logo__img" src="/resources/index.png?v=k2h7bzqUiBx_vs_ThiE3PBhlX7be2dlxb--X6LFoj80" alt="">

                        </div>
                    </div>
                </div>

            
            
            
            </div>
            
        </div>
     

     </div>

         
 


</body>
</html>