@model Domain.Adlisting;

<h2>@Model.Title</h2>

<form method="post">
  <input type="hidden" asp-for=AdlistingId />
  <div asp-validation-summary="All"></div>
  <div class="form-floating mb-3">
    <input asp-for="StartDate" class="form-control">
    <label asp-for="StartDate"></label>
    
  </div>
  <div class="form-floating mb-3">
    <input asp-for="EndDate" class="form-control">
    <label asp-for="EndDate"></label>
    <div class="form-floating mb-3">
    <label asp-for=AdlistingDescription></label>
    <input asp-for=AdlistingDescription class="form-control">
  </div>
   <div class="form-floating mb-3">
    <label asp-for=Title ></label>
    <input asp-for=Title class="form-control">
    
  </div>
  <div class="form-floating mb-3">
    <label asp-for=IsActiv ></label>
    <input asp-for=IsActiv class="form-control">
  </div>

   <div class="form-floating mb-3">
    <label asp-for=PetId ></label>
    <input asp-for=PetId class="form-control"> 
  </div>


  <div>
    <button type="submit" class="btn btn-sm btn-primary">Save <i class="fas fa-save ms-1"></i></button>
  </div>
</form>

