    <div id="map"></div>


    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3dOlxW7phgwp0rYg5K213BNnYlqtiscg&callback=initMap&v=weekly&language=hr&region=HR"
    ></script>

    <script>

window.onload = () =>  {
  console.log("on load");
    initMap();
}


<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Person</th>

        <th>Opis</th>
        <th>Cijena</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td>@item.Title</td>
          <td>@item.AdlistingDescription</td>
          
        </tr>
      }
      </tbody>
  </table>
</div>
<p>
  <a asp-action="Create" class="btn btn-sm btn-primary">Add new adlisting</a>
</p>
=======
function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 7,
    center: { lat: 44.717, lng: 16.1 },
  });
}



    </script>

function initMap() {
  const map = new google.maps.Map(document.getElementById("map"), {
    zoom: 7,
    center: { lat: 44.717, lng: 16.1 },
  });
}



    </script>

