@model Features.Adress.AdressViewModel
@{
  ViewBag.Title = "Add new adress";
}

<h5>Add new person</h5>

<form method="post">
  <div asp-validation-summary="All"></div>
  <div class="form-floating mb-3">
    <label asp-for="Adress1"></label>
    <input asp-for="Adress1" class="form-control">
    
  </div>
  <div class="form-floating mb-3">
     <label asp-for="City"></label>
    <input asp-for="City" class="form-control">
    
  </div>
  <div class="form-floating mb-3">
     <label asp-for="PostalCode"></label>
    <input asp-for="PostalCode" class="form-control">
  </div>
  <div class="form-floating mb-3">
     <label asp-for="Country"></label>
    <input asp-for="Country" class="form-control">
  </div>
   <div class="form-floating mb-3">
       <label class="form-check-label" asp-for="IsHouse">IsHouse</label>
     <input class="form-check-input" asp-for="IsHouse" type="radio" value="true" />
     
  </div>
   <div class="form-floating mb-3">
     <label asp-for="Floor"></label>
    <input asp-for="Floor" class="form-control">
  </div>
  <div>
    <button type="submit" class="btn btn-sm btn-primary">Save <i class="fas fa-save ms-1"></i></button>
  </div>
</form>

