
@{
    ViewData["Title"] = "Index";
}

  <div class="container">
    <h4>Start question review process</h4>
    <form asp-action="Start" method="post">
      <label for="id">Enter question id</label>
      <input type="text" name="id" />
      <input type="submit" class="btn btn-sm btn-primary" value="Start review" />
    </form>
  </div>
