@{
    ViewData["Title"] = "Home Page";
}

<h5>ProjectMVC with FeatureFolders and Command-Query separation</h5>

<p>Similar to Jimmy Bogard's idea of Vertical slice arhitecture, 
  but with Command-Query separation, and horizontal layering of presentation, infrastructure, validation, and domain layer organized in features.</p>

<p>Vertical slice architecture enables that each feature can use own concept how to work with data, and
  does not force you to use layering.
  For example, you could work directly using Entity Framework for one feature, and use layering for another.
</p>

<p>
  The MVC project is using Feature folders organization, instead of classic directory structure
  with Controllers, Views, and Models maps.
</p>
