html, body, #canvas {
    height: 100%;
    padding: 0px 20px 20px 10px;
    margin: 0;
}

#canvas {
    height: 500px;
}

.diagram-note {
    background-color: rgba(66, 180, 21, 0.7);
    color: White;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
    min-height: 16px;
    width: 50px;
    text-align: center;
}

.needs-discussion:not(.djs-connection) .djs-visual > :nth-child(1) {
    stroke: rgba(66, 180, 21, 0.7) !important; /* color elements as red */
}

.dashboard caption {
    caption-side: top;
    font-variant: small-caps;
    font-weight: bold;
}
