@model PetCareAppMVC.Features.Login.LoginViewModel

@{
    ViewData["Title"] = "Index";
}

<div>


  <link asp-append-version="true" rel="stylesheet" href="~/styles/login.css" />


    <section>
        <div class="center__container" style="border: 2px solid black;">
            <div>
                <div class="navbar">
                    <div class="header__logo">
                        <div class="split__left_20"></div>
                        <div class="split__right_80">
                            <a href="/home" style="padding: unset">

                             <img style="width: 100%" class="header__logo__img" src="../resources/logo_horizontal.png" alt="">
 
                                
                            </a>
                        </div>
                    </div>
                    <div class="header__empty">
                    </div>
                    <div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


  <h1 class="center__title center">
      PRIJAVA
  </h1>


        @{
        //if (String.IsNullOrEmpty(TempData["tmp"]?.ToString()))
        if (String.IsNullOrEmpty(ViewData["error"]?.ToString()))

        {


        } else
        {

                <div class="center__err center" >
      Netočna kombinacija korisnika i lozinke
     </div>


        }
    }

 



  <br>
  <div class="center">
      <div>



              <form id="loginForm" name="loginForm" asp-action="LoginCheck" method="post">
              <table class="center__login__table">
                  <tr>
                      <td>
                          <span class="deleteicon">
                          <input asp-for="UserName" type="text" class="input__text" placeholder="Korisničko ime ili e-mail" required id="input__username" />
                          <span id="delete__username">x</span>
                          </span>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <span class="deleteicon">
                          <input asp-for="Password" type="password" class="input__text" id="input__password" placeholder="Lozinka" required />
                          <span id="delete__password">x</span>
                          </span>                    
                      </td>
                  </tr>
                  <tr>
                      <td><input class="center__menu__button button" value="Prijavi me" type="submit" id="4"></td>
                  </tr>
              </table>
          </form>



      </div>
  </div>


</div>



