 <nav class="navbar navbar-expand-lg bg-light navbar-light p-lg-4 rounded-3 border mb-3 mb-lg-0">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon d-flex align-items-center"></span>
    </button>
    <div class="collapse navbar-collapse px-1 py-3 px-lg-0 py-lg-0" id="navbar">
      <ul class="navbar-nav flex-column me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
        <li class="nav-item"><a asp-action="Index" asp-controller="People">People</a></li>
        <li class="nav-item"><a asp-action="Index" asp-controller="Adlisting">Oglasi</a></li>
        <li class="nav-item"><a asp-action="Index" asp-controller="Pettype">Pettype</a></li>
         <li class="nav-item"><a asp-action="Index" asp-controller="Pet">Pet</a></li>
         <li class="nav-item"><a asp-action="Index" asp-controller="Location">Location</a></li>
          <li class="nav-item"><a asp-action="Index" asp-controller="Period">Period</a></li>
      </ul>    
    </div>
  </nav>