@model IList<Domain.Period>
@{
  ViewBag.Title = "Location";
}

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Pet</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model)
      {
        <tr>
          <td><a asp-action="Details" asp-route-id="@item.EndDate">@item.EndDate</a></td>
            <td>@item.StartDate </td>

          <td>
            <form method="post" asp-action="Delete" asp-route-id="@item.IdPeriod">
                <button type="submit" class="btn btn-danger confirm-delete">Delete <i class="fas fa-trash-alt ms-1"></i></button>
            </form>
          </td>
        </tr>
      }
      </tbody>
  </table>
</div>
<p>

</p>